<h3 class="text-center">Projects</h3>

<div class="col-lg-2 col-md-4 hidden-xs hidden-sm project-page-sidebar">
  <app-sidebar></app-sidebar>
</div>

<div class="col-lg-10 col-md-8 col-sm-12">
  <div *ngFor='let project of projects | async'>
    <li>
      <div class="panel-default project-list-panel" (click)='projectNavigation(project)'>
        <div class="panel-heading">
          <h4 class="text-center">{{project.name}}</h4>
        </div>
        <div class="panel-body">
          <p>Description: {{project.description}}</p>
        </div>
      </div>
    </li>
  </div>
</div>
